html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: helvetica;
  line-height: 1.2em; }

header#header {
  margin-bottom: 2em; }

footer#footer {
  border-top: 1px solid;
  padding-top: 1em; }

.program--overview .program-list li#program {
<<<<<<< HEAD
  position: relative;
  background: #e6e6e6;
  padding: 1em; }
  .program--overview .program-list li#program h2 {
    margin-bottom: .5em; }
=======
  position: relative; }
  .program--overview .program-list li#program h2 {
    font-weight: bold; }
>>>>>>> 54568fdf6fd0f90c870dbc125f303b2b720b328b
  .program--overview .program-list li#program ul li {
    font-size: .8em;
    background: #1e1eff;
    color: white;
    padding: .2em .3em;
    display: inline;
    margin-right: .25em; }

.program--overview .program-list .themes, .program--overview .program-list .kind-of-event {
  margin: 1em 0; }

.program--overview .program-list .save-element {
  position: absolute;
  right: 1em;
  top: 1em;
  background: grey;
  width: 30px;
  height: 30px;
  border-radius: 100%; }
  .program--overview .program-list .save-element.saved {
    background: red; }

.institutions .google-map[data-v-87e9ef04] {
  width: 100%;
  height: 800px;
  margin-bottom: 50px; }

@media screen and (min-width: 768px) {
  .institutions--overview .flex-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .institutions--overview .flex-container article {
      -ms-flex: 0 1 49%;
      flex: 0 1 49%;
      margin-bottom: 30px; } }

@media screen and (min-width: 768px) {
  .institutions--overview .flex-container article {
    -ms-flex: 0 1 32%;
    flex: 0 1 32%;
    margin-bottom: 60px; } }

.filter--wrapper {
  height: auto;
  width: 100%;
  background: blue;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 20px; }
  .filter--wrapper > div {
    width: 33.1%;
    background: yellow;
    min-height: 50px;
    display: inline-block;
    float: left;
    border: 1px solid;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column; }
  .filter--wrapper div.filter--headline--wrapper {
    min-height: 50px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }

#map {
  height: 400px;
  margin-bottom: 50px; }

body {
  margin: 20px 10vw; }

time {
  padding-left: 2em;
  color: gray; }

h1 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: .5em; }

#menu ul {
  height: 3em;
  overflow: hidden; }

#menu.open ul {
  height: auto; }

#menu .burger span {
  display: block;
  background: black;
  height: 4px;
  width: 30px;
  margin-bottom: 5px; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }
