{% extends "_layout" %}
{% set title = "Programm" %}
{% set paddingBottom = "needed" %}
{% set mt = "mt" %}
	{% block content %}
		<section class="institutions institutions--overview">
			<institutions></institutions>
		</section>
	{% endblock %}
