{% extends "_layout" %}
{% set title = "News" %}

{% block content %}
	<section class="program program--overview">

	<h1>Programm</h1>

	<div class="filter--wrapper">
		<div class="time--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Zeit
				</a>
			</div>
			<div class="filter--slider--wrapper">
				<timefilter></timefilter>
			</div>
		</div>
		<div class="museums--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Museen
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedInstitutions}</p>
			  <checkboxfilter v-bind:value-name="institutionsAPITitle" v-model="checkedInstitutions"></checkboxfilter>
			</div>
		</div>
		<div class="themes--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Themen
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedThemes}</p>
				<checkboxfilter v-bind:value-name="themesAPITitle" v-model="checkedThemes"></checkboxfilter>
			</div>
		</div>
		<div class="kind-of-event--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Art der Veranstaltung
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedEvents}</p>
				<checkboxfilter v-bind:value-name="eventsAPITitle" v-model="checkedEvents"></checkboxfilter>
			</div>
		</div>
		<div class="languages--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Sprachen
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedLanguages}</p>
				<checkboxfilter v-bind:value-name="languagesAPITitle" v-model="checkedLanguages"></checkboxfilter>
			</div>
		</div>
	</div>
	<programlist :checked-institutions="checkedInstitutions" :checked-themes="checkedThemes" :checked-events="checkedEvents" :checked-languages="checkedLanguages"></programlist>
</section>
{% endblock %}
