{% extends "_layout" %}
{% set title = "Mein Programm" %}
{% set mt = "mt" %}


{% block content %}
	<section class="program program--saved narrow">
		<header class="site-header">
			<h1 class="narrow">MEIN PROGRAMM</h1>
			
		</header>
		<myprogram></myprogram>
		
	</section>
{% endblock %}
