{% extends "_layout" %}
{% set title = "Mein Programm" %}
{% set mt = "mt" %}


{% block content %}
	<section class="program program--saved narrow">
		<header class="site-header">
			<h1 class="narrow">MEIN PROGRAMM</h1>
			<p>Hier sind deine ausgewählten Programmangebote gespeichert. Du kannst die Liste mit deinem Namen personalisieren, sie anschliessend ausdrucken, per Mail versenden oder mit Freunden auf Facebook und Twitter teilen.</p>
		</header>
		<myprogram></myprogram>
		
	</section>
{% endblock %}
