{% extends "_layout" %}
{% set title = "Mein Programm" %}

{% block content %}
	<section class="program program--overview program--overview-saved">
		<h1>Mein Programm</h1>
		<myprogram></myprogram>
	</section>
{% endblock %}
