{% extends "_layout" %}
{% set title = "Mein Programm" %}
{% set mt = "mt" %}


{% block content %}
	<div id="container">
	<section class="program program--overview program--overview-saved narrow">
		<header class="section-header">
				<h1 class="narrow">MEIN PROGRAMM</h1>
			</header>
		<myprogram></myprogram>
	</section>
	</div>
{% endblock %}
