{% extends "_layout" %}
{% set title = "Vorgeschlagenes Programm" %}
{% set mt = "mt" %}


{% block content %}
	<section class="program program--overview program--overview-saved">
		<header class="site-header">
			<h1 class="narrow">EMPFANGENES PROGRAMM</h1>
		</header>
		{# {% set url = craft.request.query('ids') %}
		{% set entries = craft.entries.section('program') %}
		{% for ids in url %}
			{{ url }}

		{% endfor %}
		{% for entry in entries %}
		{% if entry.id == url %} {{ entry.title }}{% endif %}
		
			{{ entry.id }}
		{% endfor %} #}
		<proposedprogram></proposedprogram>
		
	</section>
{% endblock %}
