html, body {
	height: 100%;
	position: relative;
}
hr {
	margin: 1.5em 0;
}
img {
	max-width: 100%;
	display: block;
}
a {
	color: black;
	text-decoration: none;
}

// Base Layout

main {
	margin-top: 50px;
	&.mt {
		margin-top: 110px;
	}
	@media screen and (min-width: $bp3) {
			margin-top: 70px;
		&.mt {
			margin-top: 150px;
		}
	}
}

section header .narrow {
	margin-bottom: 50px;
}

