.button {
	margin-bottom: .5em;
	display: inline-block;
	margin-right: .25em;
}
button {
	font-size: .8em;
	z-index: 10;
	cursor: pointer;
	font-size: 1em;
	// line-height: 1.2em;
	background: white;
	padding: .3em .5em .45em;
	border: solid 1px;
	border-radius: 4px;
	transition: background .35s, color .35s;
	&:hover {
		color: white;
		background: black;
		a {
			color: white;
		}
	}
}
button.red {
	color: $red;
	&:hover {
		color: white;
		background: $red;
	}
}