#vue-app, header#header {
	transition: background .15s ease, color .15s ease;
}
#vue-app.active {
	background: $dark;
	color: white;
	padding: 1px;
	a {
		color: white;
	}
	header#header {
		background: $dark !important;
		.burger-toggle .burger span {
			background: white;
		}
		.saved-link a span{			
			color: white;
		}
	}
	.selected-institution {
		background: $dark !important;

	}
	.program--overview .filter header {
		border: $dark;
		color: white;

		>* div {
		 	&.active, &.selected {background:white;color:$dark;}
		} 
	}
	.filter--tag {
		background: white !important;
		color: $dark !important;
	}
	.filter__checklists--wrapper {
		background: white !important;
		color: $dark;
	}
	.label--wrapper.checked {
		background: $dark;
		color: white;
	}
	.program .share-program .button button {
		background: $dark;
		border: solid white 1px;
		color: white;
		&:hover {
				color:  $dark;
				background: white;
				a {
					color:  $dark;
				}
			}
	}
	@media only screen and (min-width: $bp1) {
		.program--overview .filter__ckecklists header > * div {
				border: solid white 1px !important;
						&.active {
							border-bottom: 10px white solid !important;
						}
					}
	}
	#save-toggle > div:hover {
		color: $dark !important;
	}

}