#vue-app, header#header {
	// transition: background .15s ease, color .15s ease;
}
#vue-app.active {
	background: $dark;
	color: white;
	padding: 1px;
	a {
		color: white;
	}
	button {
		background: $dark;
		border: 1px solid white;
		color: white;
		&:hover {
			background: white;
			color: $dark;
			a {
				color: $dark;
			}
		}
	}
	header#header {
		background: $dark !important;
		box-shadow: 0px 0px 8px 4px rgba(0,0,0,1);
		// border-bottom: solid 1px;

		.burger-toggle .burger span {
			background: white;
		}
		.saved-link a{			
			color: red;
		}
	}
	.de {
		color:white;
	}
	.scroll-top-button {
		background: $dark;
	}
	.selected-institution {
		background: $dark !important;

	}
	.program .control-program .main-controls {
		background: #210055;
	}
	.program--overview .filter header {
		border: $dark;
		color: white;

		>* div {
		 	// &.active, &.selected {background:white;color:$dark;}
		} 
	}
	.program__list__event, .institutions--overview--list-view li {
		&:nth-child(2n) {
			background:#210055;
			// background:#1d004b;
		}

	}
	.filter--tag {
		// background: white !important;
	}
	.label--wrapper {
		color: $dark;
	}
	.filter__selection--wrapper .filter-tags--container .filter--tag > div {
		background: white;
		color: $dark;

	}
	.filter__checklists--wrapper > div {
		background: white !important;
	}

	.filter header > * div.selected {
		background: $grey-dark;
	}
		.filter header > * div.active {
		background: white !important;
		color: $dark;
	}
	.filter__checklists--wrapper {
		// background: white !important;
		color: $dark;
	}
	.label--wrapper.checked {
		background: $dark;
		color: white;
	}
	.program .share-program .button button {
		background: $dark;
		border: solid white 1px;
		color: white;
		&:hover {
				color:  $dark;
				background: white;
				a {
					color:  $dark;
				}
			}
	}
	.shuttle-line .number i {
		// background: white !important;
	}
	@media only screen and (min-width: $bp1) {
		.program--overview .filter__checklists header > * div {
				border: solid white 1px !important;
						&.active {
							border-bottom: 10px white solid !important;
						}
					}
		.program__list__event, .institutions--overview--list-view li{
		&:nth-child(2n) {
			// background:#210055;
			background:$dark;
		}
		&:hover {
			background: #210055;
		}
	}
	}
	#save-toggle > div:hover {
		color: $dark !important;
	}

}