#map {
	// background: grey;
	height: 400px;
	margin-bottom: 50px;
}

// .saved-links {
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// }

// .programevent {
// 	padding-left: 1em;
// }
.filter--wrapper {
	
	
	.filter--headline--wrapper {
		display: none;
	}
	@media only screen and (min-width: $bp2) {
		
	}
}

.cat-wrapper {
				display: none;
				ul li {
					font-size: .8em;
					background: rgb(30,30,330);
					color: white;
					padding: .2em .3em;
					display: inline;
					margin-right: .25em;
					margin-bottom: .25em;
				}
						.themes, .kind-of-event, .languages {
			margin: 1em 0;
		}
			}


.program__list__event {
	h1 {
				margin-bottom: .15em;
			}
			h2 {
				margin-bottom: .5em;
			}
}