.downloads {
	.docs {
		h1.block-title {
			margin-bottom: 1em;
		}
		ul {
			margin-bottom: 3em;
		}
		li.image {
			margin-bottom: 2em;
		}
		figure {
			max-width: 400px;
			margin-bottom: .5em;
		}
	}
	.login {
		margin-bottom: 2em;
		h2 {
			margin-bottom: 1em;
		}
		form input {
			padding: .3em .5em .45em;
			font-size: 1em;
		}
	}
}