.downloads {
	.docs {
		h1.block-title {
			margin-bottom: 1em;
		}
		ul {
			margin-bottom: 3em;
		}
		li.image {
			margin-bottom: 2em;
		}
		figure {
			max-width: 400px;
			margin-bottom: .5em;
		}
	}
}