		.filter header >* div.selected {
			background: $grey-dark;
		}
		.filter header >* div.active,
		.filter__checklists--wrapper >div {
			background: black;
		}

		@media only screen and (min-width: $bp2) {
			.filter header >* div.active {
				border-bottom: 10px solid black !important;
			}
		}
		// @media only screen and (min-width: $bp2) {
		// 	.filter header >*:nth-child(1) div.active {
		// 		border-bottom: 10px solid #1a0042;
		// 	}
		// }


		// // #1a0042 = rgba(26,0,66,1)
		// .filter header >*:nth-child(1) div.active,
		// .filter header >*:nth-child(1) div.selected,
		// .filter--institutions,
		// .inst > div{
		// 	background: #1a0042;
		// }

		// @media only screen and (min-width: $bp2) {
		// 	.filter header >*:nth-child(1) div.active {
		// 		border-bottom: 10px solid #1a0042;
		// 	}
		// }

		// .filter header >*:nth-child(2) div.active,
		// .filter header >*:nth-child(2) div.selected,
		// .filter--themes,
		// .theme > div{
		// 	background: #301954;
		// }
		// @media only screen and (min-width: $bp2) {

		// 	.filter header >*:nth-child(2) div.active {
		// 		border-bottom: 10px solid #301954;
		// 	}
		// }
		// .filter header >*:nth-child(3) div.active,
		// .filter header >*:nth-child(3) div.selected,
		// .filter--kind-of-event,
		// .kind > div{
		// 	background: #473267;
		// }
		// @media only screen and (min-width: $bp2) {

		// 	.filter header >*:nth-child(3) div.active {
		// 		border-bottom: 10px solid #473267;
		// 	}
		// }
		// .filter header >*:nth-child(4) div.active,
		// .filter header >*:nth-child(4) div.selected,
		// .filter--languages,
		// .languages > div{
		// 	background: #5e4c7a;
		// }

		// @media only screen and (min-width: $bp2) {

		// 	.filter header >*:nth-child(4) div.active {
		// 		border-bottom: 10px solid #5e4c7a;
		// 	}
		// }
	

.filter__selection--wrapper {
	.number {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		opacity: 1;
		background: black;
		color: white;
		text-align: center;
		padding: .5em 0 .75em;
		z-index: 9;
		transition: width .25s, opacity .25s;
		box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);

		&.hide {
			opacity: 0;
		}	

	}
	.selection	{
		position: relative;
	}
	.filter-tags--container {
		margin-bottom: .75em;
		.space-element {
			margin-top: .25em;
			display: block;
			background: none;
			width: 100%;
		}

		.filter--tag {
			> span {
				background: $grey-dark;
				color: white;
			}
			>div {
				// box-shadow: 0 0 4px rgba(26,0,66,.55);

				// background: $dark;
				background: black;
				color:white;
				margin-right: .5em;
				margin-bottom: .5em;
				&.kind {

				}
				&.kind:last-of-type {

					&:before {
						content: "t";
					}
				}
			}
		}
	}

	// .index-0 { 
	// 	.inst & {
	// 		color: red;
	// 		&::before {
	// 			content: "t";
	// 		}
	// 	}
	// }
		@media only screen and (min-width: $bp2) {

			header >* div.active {
				border-bottom: 10px solid #301954;
			}
		}
		header .active,
		header .selected
		{
			background: black;
		}
	.filter--tag >div {
		background: black;
	}
	.filter--tag >span {
			padding: .2em .8em .5em;

	}
	.filter--tag, .filter--tag > * {
			display: inline-block;
	}
	.filter--tag>*, .removeAll--tag {
			// padding: .3em .8em .65em;
			padding: .15em .8em .45em;
			border-radius: .5em;
			font-size: .8em;
			>* {
				vertical-align: middle;

			}
			i {
				font-size: 1.5em;
				line-height: 0em;
				margin-right: .25em;
			}
			
		}
		.removeAll--tag {
			// color: red;
			margin-bottom: 2em;
			border: 1px solid;
			&:hover {
				background: red;
				color: white;
				cursor: pointer;
			}

		}
	@media only screen and (min-width: $bp1) {
		.filter-tags--container {
		}

	}
	@media only screen and (min-width: $bp2) {
		// width: 1200px;
		position: relative;
		// .flex-container {
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	justify-content: space-between;
		// 	>* {
		// 		flex: 0 1 24%;
		// 	}
		// }
		.filter-tags--container {
			padding-right: 250px;
			// margin-bottom: 1em;
			
		}
		.removeAll--tag {
				position: absolute;
				right: 0;
				top:0;
			}
	}
}