	
		.filter header >*:nth-child(1) div.active,
		.filter header >*:nth-child(1) div.selected,
		.filter--institutions,
		.inst > div{
			background: rgba(26,0,66,1);
		}
		@media only screen and (min-width: $bp2) {
			.filter header >*:nth-child(1) div.active {
				border-bottom: 10px solid rgba(26,0,66,1);
			}
		}

		.filter header >*:nth-child(2) div.active,
		.filter header >*:nth-child(2) div.selected,
		.filter--themes,
		.theme > div{
			background: rgba(26,0,66,.9);
		}
		@media only screen and (min-width: $bp2) {

			.filter header >*:nth-child(2) div.active {
				border-bottom: 10px solid rgba(26,0,66,.9);
			}
		}
		.filter header >*:nth-child(3) div.active,
		.filter header >*:nth-child(3) div.selected,
		.filter--kind-of-event,
		.kind > div{
			background: rgba(26,0,66,.8	);
		}
		@media only screen and (min-width: $bp2) {

			.filter header >*:nth-child(3) div.active {
				border-bottom: 10px solid rgba(26,0,66,.8);
			}
		}
		.filter header >*:nth-child(4) div.active,
		.filter header >*:nth-child(4) div.selected,
		.filter--languages,
		.languages > div{
			background: rgba(26,0,66,.7	);
		}
		@media only screen and (min-width: $bp2) {

			.filter header >*:nth-child(4) div.active {
				border-bottom: 10px solid rgba(26,0,66,.7);
			}
		}
	

.filter__selection--wrapper {
	.number {
		position: fixed;
		bottom: 20px;
		right: 15px;
		width: 186px;
		opacity: 1;
		overflow: hidden;
		transition: width .25s, opacity .25s;
		&.hide {
			width:0;
			opacity: 0;
		}	

	}
	.selection	{
		position: relative;
	}
	.filter-tags--container {
		margin-bottom: .75em;
		.space-element {
			margin-top: .25em;
			display: block;
			background: none;
			width: 100%;
		}
		.theme:nth-child(1) {
				margin-left: 3em !important;
				color: red;
			}
		.filter--tag >div {
			// background: $dark;
			color:white;
			margin-right: .5em;
			margin-bottom: .5em;
			&.kind {

			}
			&.kind:last-of-type {

				&:before {
					content: "t";
				}
			}
		}
	}

	// .index-0 { 
	// 	.inst & {
	// 		color: red;
	// 		&::before {
	// 			content: "t";
	// 		}
	// 	}
	// }
	.filter--tag, .filter--tag > * {
			display: inline-block;

	}
	.filter--tag>div, .removeAll--tag {
			// padding: .3em .8em .65em;
			padding: .15em .8em .45em;
			border-radius: .5em;
			font-size: .8em;
			>* {
				vertical-align: middle;

			}
			i {
				font-size: 1.5em;
				line-height: 0em;
				margin-right: .25em;
			}
			
		}
		.removeAll--tag {
			// color: red;
			margin-bottom: 2em;
			border: 1px solid;

		}
	@media only screen and (min-width: $bp1) {
		.filter-tags--container {
		}
		.number {
			width: 220px;
			// margin-bottom: 75px;
		}
	}
	@media only screen and (min-width: $bp2) {
		// width: 1200px;
		position: relative;
		// .flex-container {
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	justify-content: space-between;
		// 	>* {
		// 		flex: 0 1 24%;
		// 	}
		// }
		.filter-tags--container {
			padding-right: 250px;
			// margin-bottom: 1em;
			
		}
		.removeAll--tag {
				position: absolute;
				right: 0;
				top:0;
			}
	}
}