
#container,

.journal--overview,
.institutions--overview--grid-view,
.filter__selection--wrapper

{
	margin: 15px 15px 16px;
	position: relative;
	@media screen and (min-width: $bp1) {
		margin: 15px 30px;
	}
	@media screen and (min-width: $bp4) {
		margin: 20px 40px 22.5px;

	}
}
header#header > div {
	margin: 10px 15px 11px;
	@media screen and (min-width: $bp1) {
		margin: 15px 30px;
	}
	@media screen and (min-width: $bp4) {
		margin: 20px 40px 22.5px;

	}
	
}
// .home section.info,
// .journal,
.visit section {
	padding: 30px 15px 32.5px;
	position: relative;
	@media screen and (min-width: $bp1) {
		padding: 40px 30px 42.5px;
	}
	// @media screen and (min-width: $bp2) {
	// 	padding: 50px 30px 55px;
	// }
	@media screen and (min-width: $bp4) {
		padding: 60px 50px 65px;	
	}
	// @media screen and (min-width: $bp2) {
	// 	padding: 60px 30px 65px;	
	// }
}



// narrow-frame
.text-block section >div,
header.site-header,
.home .info >div,
.journal--single article header,
.journal--single article >*:not(.program),

header#header nav,
// footer#footer nav,

.program--overview ul.program__list .institution,


// .program--saved ul.program__list,

.program--single,

.control-program,
.institutions--single header,
.institutions--single .institution-infos,
.program .name,
.mobility,
.tickets,
.test

{
	margin: 15px;


	@media screen and (min-width: $bp2) {
		width: 900px;
		margin: 0 auto;
	}
	@media screen and (min-width: $bp3) {
		width: 1000px;
		margin: 0 auto;
	}
}

.institutions--overview .list-view a >div,
.program__list__event >div,

.program--overview .food
 {
	margin: 0 15px;
	@media screen and (min-width: $bp2) {
		width: 900px;
		margin: 0 auto;
	}
	@media screen and (min-width: $bp3) {
		width: 1000px;
		margin: 0 auto;
	}
}

// FRAME IN BETWEEN
footer#footer .glossary,
footer#footer section,
 {
	margin: 15px 15px 16px;
	position: relative;
	@media screen and (min-width: $bp1) {
		margin: 15px 30px;
	}
	@media screen and (min-width: $bp4) {
		width: 1400px;
		margin: 0 auto;
	}
	// @media screen and (min-width: $bp5) {
	// 	width: 1500px;
	// }
}

