.count {
	color: white;
	background: $yellow;
	// line-height: 0;
	display: inline-block;
	padding: .12em .2em .22em;
	border-radius: 1em;
}
.lang {
	// background: $grey-bright;
	// border-bottom: solid 1px;
	margin-top: 4em;
			margin-bottom: 1.5em;
			display: flex;
				justify-content: space-around;
				font-size: 1.25em;

			>p {
				flex: 0 1 50%;
				padding: .65em;
				
				text-align: center;
				// margin: 1em 0 1.5em;
				// width: 135px;
				&:hover a {
					text-decoration: underline;
				}
				i {
					// font-size: 2em;
					margin-bottom: .5em;
					display: inline-block;
				}
				// &:nth-child(1) {
				// 	i {
				// 		color: #009fe3;

				// 	}
				// 	&:hover {
				// 		background: #009fe3;
				// 		color: white !important;
				// 		i {
				// 			color: white;
				// 		}
				// 	}
				// }
				// &:nth-child(2) {
				// 	i {
				// 		color: #e30613;

				// 	}
				// 	&:hover {
				// 		background: #e30613;
				// 		i {
				// 			color: white;
				// 		}
				// 	}
				// }

			}
		}
.home {
	.cover {
		height: 75vh;
		overflow: hidden;
		background:  url(../bilder/keyvisual-2.jpg) no-repeat center center;
		background-size: cover;
		// background-color: rgba(100,100,100, 1);
  // 		background-blend-mode: multiply;
  		animation: bc 2s;
		display: flex;
		align-items: center;
  		justify-content: center;
  		.site-title {
  			color: rgba(245,245,245,1);
  			text-align: center;
  			animation: st 2s;
  			padding-bottom: .25em;
  		}

	}

	.info {
		background: black;
		color: white;
		padding: 2em;
		a {
			color: white;
		}

		
	}
	@media only screen and (min-width: $bp1) {
		.info {
			.lang {
				margin-bottom: 3em;
				>* {
					flex: 0 1 45%;
				}
			}
			.infoblock {
			display: flex;
			justify-content: space-around;
			>* {
				i {
					font-size: 3em;
					margin-bottom: .5em;
					display: inline-block;
				}
				flex: 0 1 25%;
				margin-bottom: 1em;
			}
		}
		}
	}
}


