.institutions--single {
		h1.title, .visitor-infos, address, .shuttle-line {
			margin-bottom: 1em;
		}
		.institution-infos {
			margin-bottom: 2em;
			i {
					font-size: 1.3em;
					width: 35px;
					display: inline-block;

				}
			ul {
				margin-bottom: 1.75em;
				li {
					margin-bottom: .25em;
				}
			}
				
			// figure.building img {
			// 	max-height: 300px;
			// 	margin: 0 auto;
			// }
		}
		
		.program figure {
			margin: 30px;
			img {
				width: 100%;
			}
		}
		.program {
			border-top: solid 1px;
			padding-top: 1em;
			margin-bottom: 2em;
			h1.program-title, h2 {
				margin-bottom: .5em;
			}
			.program-text, figure {
				margin-bottom: 2em;
			}
		}
		.link {
			text-decoration: underline;
		}
		
		.address {
			>* {
				display: inline-block;
			}
			span {
				color: grey;
			}
		}
		button {
			margin-bottom: 1em;
		}
	@media screen and (min-width: $bp1) {
	.institution-infos {
				display: flex;
				justify-content: space-between;
				>* {
					flex: 0 1 49%;
				}

				figure.building img {
					// height: 250px;
					margin: 0;
					margin-left: auto;
				}	
			}
			.program {
				padding-top: 2em;
			}
	}
	@media screen and (min-width: $bp2) {
		.program figure {
				margin: 50px auto 75px;
				width: 80%;
			}
	}
	
}