.journal--overview {
	margin-bottom: 3em;
		figure {
			margin-bottom: .5em;
		}
		.group {
			>* {
				margin-bottom: 3em;
			}
			.post {
				figure {
					&.portrait {
						width: 66%;
					}
				}
				p {
					margin-bottom: 1em;
				}
				h1 {
					margin-bottom: .25em;
				}
			}
			
		}
		

	@media only screen and (min-width: $bp1) {
		.group {
			display: flex;
			justify-content: space-around;
			.post:first-of-type {
				margin-right: 0;
				flex: 0 1 80%;
				h1 span {
					font-size: 1.25em;
					line-height: 1em;
				}
			}
			
			.post {
				// background: red;
				flex: 0 1 48%;
			}

		}
	}
	@media only screen and (min-width: $bp2) {
		.group {

			// .post {
			// 	flex: 0 1 65%;
			// 	// max-width: 800px;
			// }
			.post:first-of-type {
				flex: 0 1 65%;
				// margin-bottom: 4em;
			}
			.post:nth-child(2) {
				
				// align-self: flex-end;
				// margin-bottom: 0;
			}
			

			.post {
				flex: 0 1 31%;
				margin-bottom: 4em;
				
				&:nth-child(3n+3),&:nth-child(3n+4) {
					margin-right: 3%;
				}
			
			}

		}
	}
	@media only screen and (min-width: $bp3) {
		.group {
			
			.post:first-of-type {
				// flex: 0 1 55%;
			}
			// .post:nth-child(3), .post:nth-child(4) {
			// 	flex: 0 1 25%;
			// }
			// .post:nth-child(5) {
			// 	flex: 0 1 40%;
			// 	// align-self: flex-start;
			// }
			.post {
				// flex: 0 1 28%;
			}


		}
	}
		@media only screen and (min-width: $bp4) {
		.group {
			
			.post:first-of-type {
				flex: 0 1 40%;
			}

		}
	}
}