.journal {
	&--overview {
		figure {
			margin:25px 30px;
		}
	}
	&--single {
		figure {
			margin: 0 0 25px;
		}
		h1 {
			margin-bottom: 1em;
		}
		h2 {
			margin-bottom: 1em;
		}
		.text, .program {
			margin-bottom: 2em;
		}
		.program .selected {
			li {
				padding-bottom: 1em;
			}
		}
	}

	@media only screen and (min-width: $bp4) {
		figure {
			margin: 40px 50px 45px;
		}

	}
}