.journal--overview {
		figure {
			margin-bottom: .5em;
		}
		.group {
			>* {
				margin-bottom: 3em;
			}
			.post {

				p {
					margin-bottom: 1em;
				}
				h1 {
					margin-bottom: .25em;
				}
			}
			.info-box {
				display: flex;
				align-items: center;
	  			justify-content: center;
	  			> div {

	  				// border-radius: .5em;
	  				i {
	  					font-size: 3em;
	  					margin-bottom: .5em;
	  					display: inline-block;
	  				}
					width: 80%;
					max-width: 275px;
					// border: solid 2px $yellow;
					background: $grey-bright;
					// color: white;
					// box-shadow: 0 0 20px $yellow;
					padding: 1em;
					// background: $grey-bright;
	  			}
			}
		}
		

	@media only screen and (min-width: $bp1) {
		.group {
			display: flex;
			justify-content: space-around;
			.post:first-of-type {
				flex: 0 1 80%;
			}
			.post {
				flex: 0 1 48%;
			}
			.info-box {
				padding: 2em 1em 1.5em;
				// width: 300px;
				flex: 0 1 45%;
				> div {
					
				}
			}
		}
	}
	@media only screen and (min-width: $bp2) {
		.group {

			// .post {
			// 	flex: 0 1 65%;
			// 	// max-width: 800px;
			// }
			.post:first-of-type {
				flex: 0 1 55%;
			}
			.post {
				flex: 0 1 30%;
			}
			.info-box > div{
				max-width: 300px;
				text-align: center;
				padding: 2em;
				// width: 300px;
				// flex: 0 1 350px;
			}
		}
	}
	@media only screen and (min-width: $bp3) {
		.group {
			
			.post:first-of-type {
				flex: 0 1 55%;
			}
			.post {
				flex: 0 1 30%;
			}
			.info-box > div{
				max-width: 350px;

			}

		}
	}
		@media only screen and (min-width: $bp5) {
		.group {
			
			.post {
				// flex: 0 1 30%;
			}
			.info-box {
				flex: 0 1 30%;

			}

		}
	}
}