.journal {
	&--single {
		figure {
			margin: 0 0 25px;
			&.portrait {
				max-width: 450px;
			}
		}
		h1 {
			margin-bottom: 1em;
		}
		h2, .text {
			margin-bottom: 1em !important;
		}

		.text, .program {
			margin-bottom: 2em;
		}
		.program .selected {
			li {
				padding-bottom: 1em;
			}
		}
	}

	@media only screen and (min-width: $bp3) {
		&--single {
		figure {
			margin: 40px auto 45px;
			max-width: 800px;

		}
	}

	}
}