.journal {
	&--single {
		margin-bottom: 3em;
		figure {
			margin: 0 0 25px;
			&.portrait {
				max-width: 450px;
			}
		}
		h1, p {
			margin-bottom: 1em;
			max-width: 750px;

		}
		article p {
		}
		h2, .text {
			margin-bottom: 1em !important;
		}

		.text-block p:last-of-type, .program {
			margin-bottom: 2em;
		}
		.program .selected {
			li {
				padding-bottom: 1em;
			}
		}
		.next-prev {
			margin-top: 3em;
			
			span {
				margin-bottom: .5em;
				display: block;
			}
			h1 {
				display: inline;
			}
			.next {
				text-align: right;
			 
			}
			.prev {
				margin-bottom: 1em;
				
				

		}
			}
	}
	@media only screen and (min-width: $bp1) {
		.next-prev {
			display: flex;
			justify-content: space-between;
			>* {
					flex: 0 1 45%;
					
				}
		}
	}
	@media only screen and (min-width: $bp3) {
		&--single {
			header {
				h1 {
					margin-bottom: .75em;
				}
				p.post-date {
					margin-bottom: 1.5em;
				}
			}
			
		figure {
			margin: 0 auto 45px;
			// max-width: 800px;

		}
	}

	}
}