@media print { 
	/* All your print styles go here */
	#footer, #header, .burger-toggle, .control-program, .share-program, .program--saved .header p

	{ display: none !important; } 
	body:before{
		content:"Museumsnacht Basel 2017";
	}
	body:after{
		content:"Die Museumsnacht ist eine Veranstaltung der museen basel und der Abteilung Kultur Basel-Stadt.";
	}
	.mt {
		margin-top: 50px !important;
	}
}