.program {
	.program-list {
		border-top: solid 1px;
		padding-top: 1.5em;
		li.program--event {
			border-bottom: solid 1px;
			position: relative;
			margin-bottom: 1.5em;
			padding-bottom: 1.75em;
			padding-right: 50px;
			h1 {
				margin-bottom: .15em;
			}
			h2 {
				margin-bottom: .5em;
			}
			.cat-wrapper {
				display: none;
				ul li {
					font-size: .8em;
					background: rgb(30,30,330);
					color: white;
					padding: .2em .3em;
					display: inline;
					margin-right: .25em;
					margin-bottom: .25em;
				}
			}

		}
		.themes, .kind-of-event, .languages {
			margin: 1em 0;
		}
		&.selected {
			li {
				position: relative;
				border-bottom: solid 1px;
				margin-bottom: 1.5em;
				padding-bottom: 1.75em;
				// &.inactive {
				// 	opacity: .5;
				// }
				.institution {
					margin-bottom: 1em;
				}
				h1 {
					margin-bottom: .15em;
				}
			}
			
		}
	}
	&--overview {
		.program--block {
			// margin:0 0 2em;
			margin-bottom: 50px;

			.institution {
				h1 {
					margin-bottom: .15em;
				}
				h2 {
					margin-bottom: 1em;
				}
			}
			

		}
		&.program--overview-saved {
			.program-list li {
				position: relative;
			}
		}
		
		
		
	}
	.save-element {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			div {
				font-size: 2em;
				color: rgb(210,210,210);
				transition: color .25s;
				cursor: pointer;
				&:hover {
					// color: rgb(150,150,150);
					text-shadow:0px 0px 1px rgb(255, 0, 0);
					color: white;

				}
				&.active {
					color: rgb(255, 0, 0);
				}
			}
		}
	&--single {
		
	}
	@media screen and (min-width: $bp1) {
		&--overview {
			// .program--block {
			// 	margin:0 30px 2em;
			// }
		}
	}
	@media screen and (min-width: $bp2) {
		&--overview {
			.program--block {
				// width: 900px;
				// margin: 0 auto 2em;
			}
		}
	}

	
}