.program {
	&--overview {
		.program--list {
			.number {
				margin-bottom: 100px;
			}
			li.program--event {
				position: relative;
				background: rgb(230,230,230);
				padding: 1em;
				h2 {
					margin-bottom: .5em;
					font-weight: bold;
				}
				ul li {
					font-size: .8em;
					background: rgb(30,30,330);
					color: white;
					padding: .2em .3em;
					display: inline;
					margin-right: .25em;
				}
			}
			.themes, .kind-of-event {
				margin: 1em 0;
			}
			.save-element {
				position: absolute;
				right: 1em;
				top: 1em;
				background: grey;
				width: 30px;
				height: 30px;
				border-radius: 100%;
				z-index: 1;
			}
		}
		&.program--overview-saved {
			.program-list {
				.save-element {
					position: relative;
				}
			}
		}
		.filter--wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			>* {
				margin-bottom: 50px;

			}
			.filter--headline--wrapper {
				display: none;
			}
			@media only screen and (min-width: $bp2) {
				>* {
					flex: 0 1 24%;
					&.time--filter--wrapper {
						flex: 0 1 100%;
					}
				}
			}
		}
	}
	&--single {

	}
}