		header.site-header{
				position: relative;

			h1 {
				margin-bottom: .5em;
			}
			nav {
				font-size: 1.25rem;
				margin-bottom: 2em;
				position: absolute;
				right: 0;
				top:-.25em;
				li {
					padding: .2em .4em .3em;
					border: solid 1px;
					cursor: pointer;
					display: inline-block;
					margin-left: .5em;
					width: 2em;
					text-align: center;
					span {
						display: none;
					}
					&:hover, &.active {
						background: $dark;
						color: white;
					}
					

				}
			}
			@media screen and (min-width: 500px) {
				nav {
					top: -.15em;
					// bottom: -10px;
					// font-size: 1.5rem;

					li {
						width: auto;
						span {
							display: inline-block;
						}
					}
				
				}
			}
			@media screen and (min-width: $bp1) {
				nav {
					top: .05em;
				}
			}
			@media screen and (min-width: $bp2) {
				nav {
					top: .2em;
				}
			}
			@media screen and (min-width: $bp4) {
				nav {
					top: .5em;
				}
			}
		}