
.share-program {
	padding-bottom: 2em;
	h1{
		margin-bottom: 1em;
	}
	p {
		// max-width: 600px;
	}
	
	.mb {
		margin-bottom: 1em;
	}
	input {
		font-size: 1em;
		border: none;
		border-bottom: solid 1px;
		width: 150px;
	}
	.link {
		margin-bottom: 2em;
		p {
			margin-bottom: 1em;
		}
		.link-to-share {
			overflow-x: hidden;
			padding-bottom: .25em;
			font-size: .8em;
			border: solid 1px;
			// padding: 
			&:hover {
					text-decoration: underline;
				}
		}
	}
	.share {
		>div{
			display: inline-block;
			margin-right: .25em;
		}	

		p {
			margin-bottom: 1em;
		}
	}
	@media only screen and (min-width: $bp1){
		.flex-container {
			display: flex;
			align-items: center;
			>* {
				flex: 1 0 49%;
				// text-align: center;
			}
		}
		.link {
			>div {
				display: flex;
				>div.share-button {
					flex: 1 0 auto;
					padding: .3em .5em .45em;
				}
			}
		}
	}

	

}