.share-program {
	padding-bottom: 2em;
	h1{
		margin-bottom: 1em;
	}
	p {
		// max-width: 600px;
	}
	
	.mb {
		margin-bottom: 1em;
	}
	input {
		font-size: 1em;
		border: none;
		border-bottom: solid 1px;
		width: 150px;
	}
	.share-link {
		max-width: 100%;
		>div {

				display: flex;
				// border: solid 1px;
				// border-radius: 4px;
				>* {
					overflow: hidden;
					padding: 10px 12px 12px;
					border: 1px solid black;
					

					flex: 0 0 auto;
					max-width: 50%;
					&:first-of-type {
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
						background: $grey-bright;
						border-right: none;
						a {
							// color: grey;
						}
					}
					&:nth-child(2) {
						border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					}
				}
				.share-button {
					// padding: .3em .5em .45em;
					cursor: pointer;
					&:hover {
						background: black;
						color: white;
					}
				}
			}
		margin-bottom: 1em;
		p {
			margin-bottom: 1em;
		}
		.link-to-share {
			overflow-x: hidden;
			// padding-bottom: .25em;
			font-size: .8em;
			// padding: 
			&:hover {
					text-decoration: underline;
				}
		}
	}
	.share {
		>div{
			display: inline-block;
			margin-right: .25em;
		}	

		p {
			margin-bottom: 1em;
		}
	}
	@media only screen and (min-width: $bp1){
		.flex-container {
			display: flex;
			align-items: center;
			>* {
				flex: 1 0 49%;
				// text-align: center;
			}
		}

	}

	

}