@font-face {
  font-family: 'lyon-regular';
  src: url('../fonts/LyonDisplay-Regular.woff') format('woff'), /* IE6-IE8 */
}
@font-face {
  font-family: 'lyon-bold';
  src: url('../fonts/LyonDisplay-Bold.woff') format('woff'), /* IE6-IE8 */
}
@font-face {
  font-family: 'main-book';
  src: url('../fonts/MainMN-Book.woff') format('woff'), /* IE6-IE8 */
}
@font-face {
  font-family: 'main-eb';
  src: url('../fonts/MainMN-ExtraBold.woff') format('woff'), /* IE6-IE8 */
}

body {
	font-family: 'main-book', helvetica;
	font-size: 1.1em;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media only screen and (min-width: $bp2) {
		font-size: 1.2em;
	}
	@media only screen and (min-width: $bp3) {
		font-size: 1.3em;
	}
}

// Font Main Extra-Bold

.program--overview .institution h1,
.filter header,
.filter--tag,
time,
strong,
header {
	font-family: 'main-eb', helvetica;
}

// Font Main Book

// Font Lyon Black

.program h1, .program--overview .institution h2,
.program-list h1,
header h1 {
	font-family: 'lyon-bold', times;
}

// Font Lyon Regular

header .mn-date span {
	font-family: 'lyon-regular';
}


// Uppercase

.program .institution h1,
.program .institution h2,
.filter header {
	text-transform: uppercase;
}

// Font Size S

// Font Size L

.program .institution h1,
.program .institution h2 {
	font-size: 1.5em;
	line-height: 1em;
}

// Font-Size XL

.nav-wrapper li a,
section header h1{
	font-size: 2em;
	line-height: 1.2em;
}
