// modules

@import 'reset';
@import 'variables';
@import 'typo';

// partial

@import 'base';
@import 'header';
@import 'footer';
@import 'home';
@import 'program';
@import 'institution';
@import 'journal';
@import 'visit';

// components

@import 'share-program';
@import 'filter';
@import 'filter-selection';
@import 'contrast';

// temporary

@import 'can';
@import 'daniel';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
}


