// modules

@import 'reset';
@import 'variables';
@import 'typo';
@import 'animations';
@import 'frames';
@import 'group';

// partial

@import 'base';
@import 'header';
@import 'footer';
@import 'home';
@import 'journal';
@import 'program';
@import 'institution';
@import 'institution-overview-map';


// components

@import 'share-program';
@import 'filter';
@import 'filter-selection';
@import 'contrast';
@import 'presell';
@import 'save-element';
@import 'section-nav';

// temporary

@import 'can';
@import 'daniel';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
}


.text-block {
	section {
		border-bottom: solid 1px;
		&:last-of-type {
			border-bottom: none;
		}
	}
}

header.site-header {
	margin-bottom: 1em;
}

.institutions--single address a {
	text-decoration: underline;
}


// .link-with-arrow::after {
// 	content: "↗︎ arrow";︎
// }