{% extends "_layout" %}
{% set title = "404" %}
{% set mt = 'mt' %}

{% block content %}
<section class="lost">
	<figure>
		<img src="/bilder/404.png" alt="">
	</figure>
	<h1>Page not found</h1>

	<p>What’s worse, a hilarious 404 page can’t be found either.</p>

</section>
{% endblock %}
