{% extends "_layout" %}
{# {% set title = "Home" %} #}
{% set mt = "mt" %}

{% block content %}
	{# <socialstream></socialstream> #}
	<div class="stream">
	{# <div id="curator-feed"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div> #}
		<div id="curator-feed"></div>

	</div>
{% endblock %}