{% extends "_layout" %}
{% set title = "Mobilität" %}
{% set mt = "mt" %}

{% block content %}
<header class="site-header">
		<h1>Impressum</h1>
	</header>	
<section class="mobility info-block imprint">
	{{ entry.text }}
</section>
{% endblock %}