{% extends "_layout" %}
{% set title = "Besuch" %}

{% block content %}

<div class="visit text-block">		
	<section>
				<header class="site-header">
					<h1>Mobil durch die Nacht</h1>
				</header>
				<div>
				{{ entry.text }}
			</div>
	</section>
	{% for block in entry.textBlock %}
		<section>
			<div>
					{{ block.text }}
				</div>
		</section>
	{% endfor %}
</div>
{% endblock %}