{% extends "_layout" %}
{% set title = "Besuch" %}
{% set mt = "mt" %}

{% block content %}
<header class="site-header">
		<h1>Mobilität</h1>
	</header>	
<section class="mobility info-block">
	
	{{ entry.mobility }}
</section>
{% endblock %}