{% extends "_layout" %}
{% set title = "Tickets" %}
{% set mt = "mt" %}

{% block content %}
	<header class="site-header">
		<h1>Tickets</h1>
	</header>
	<section class="tickets info-block">
		{{ entry.tickets }}
	</section>
{% endblock %}